body {
	background-color: black;
	color: white;
	display: block;
}

li {
	font-weight: bolder;
}

#intro {
	display: flex;
	justify-content: center;
}

#all-players {
	display: flex;
	justify-content: space-around;
}

.goat img {
	width: 200px;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	background-color: black;
	color: white;
	border: 3px solid white;
}

button:hover {
	background-color: lightgray;
}

.invisible {
	display: none;
}

.selected.lebron {
    background-color: #d7b400;
}
.selected.michael {
    background-color: #bc051c;
}
.selected.wilt {
    background-color: #6c3a53;
}
.selected.kareem {
	background-color: #3e3493;
}
.selected.magic {
	background-color: #e1cd00;
}