body {
	background-color: black;
	color: white;
}

li {
	font-weight: bolder;
}

.all-players {
	display: flex;
	/* border: 1px solid black; */ 
}

.goat {
	/* justify-content: space-between; */
	flex: 1; 
}

.goat img {
	width: 200px;
}

#header {
	display: flex;
	/* border: 1px solid black; */ 
}

.title {
	justify-content: center;
	align-items: flex-end;
}

button {
	background-color: black;
	color: white;
}

.invisible {
	display: none;
}

.selected.lebron {
    background-color: rgba(255, 255, 0, 0.5);
}
.selected.michael {
    background-color: #bc051c;
}
.selected.wilt {
    background-color: #6c3a53;
}

button:hover {
	background-color: lightgray;
}